/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Style for the event title */
#event-title {
    color: white;
    text-align: center;
    background: linear-gradient(to right, #ffcc00, #ff3300);
    padding: 20px;
    font-size: 2em;
    position: relative;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Container for details section */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info {
    background-color: lightgoldenrodyellow;
    padding: 15px;
    border: 2px solid gold;
    border-radius: 5px;
    font-style: italic;
    margin-bottom: 20px;
}

.details-list {
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
}

.details-list li {
    margin: 10px 0;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ffcc00;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: start;
    }
}

/* Style for the RSVP section */
#rsvp {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #ffcc00;
    border: 2px solid #ff3300;
    border-radius: 10px;
}

.rsvp-text {
    background-color: lightcyan;
    padding: 10px;
    font-weight: bold;
    border: 2px solid deepskyblue;
    border-radius: 5px;
    margin-bottom: 20px;
}

.rsvp-button {
    background-color: deepskyblue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.rsvp-button:hover {
    background-color: dodgerblue;
}

/* Style for the footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: darkred;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}
